
.App {
  text-align: center;
}

.form-container {
  max-width: 800px;
  margin: auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.header-image {
  width: 100%;
  height: auto;
  max-height: 300px; 
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.form-group input,
.form-group select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group input[type="date"] {
  padding: 8px;
}

.next-button {
  display: block;
  margin-left: auto;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #ff6b00;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.next-button {
  background-color: #e65a00;
}

.tab-header {
  display: flex;
  justify-content: space-around;
  background-color: #f8f9fa;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.tab-header button {
  background: none;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  cursor: pointer;
  color: #555;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tab-header button svg {
  margin-right: 8px;
}

.tab-header button.active {
  color: #ff6b00;
  border-bottom: 2px solid #ff6b00;
}

.tab-header button {
  color: #ff6b00;
}

.tab-content {
  padding: 20px;
}

.otp-inputs {
  display: flex;
  justify-content: space-between;
}

.otp-input {
  flex: 1;
  padding: 10px;
  font-size: 24px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.timer {
  margin-bottom: 20px;
}

.resend, .submit-button {
  padding: 5px 14px;
  font-size: 16px;
  color: #fff;
  background-color: #ff6b00;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 3px
}

.resend:hover, .submit-button:hover {
  background-color: #e65a00;
}

.error-message {
  font-size: 14px;
  font-weight: bold;
  color: red;
  margin-top: 10px;
}

/* Apply styles for small devices (less than 768px) */
@media (max-width: 768px) {
  .form-container {
    padding: 20px;
  }
  h2 {
    font-size: 20px;
  }
  .header-image {
    max-height: 200px;
  }
  .resend, .submit-button {
    font-size: 14px;
  }
  .form-row {
    flex-direction: column;
  }
  .form-group {
    margin-bottom: 20px;
  }
  .form-group label {
    margin-bottom: 10px;
  }
  .form-group input,
  .form-group select {
    width: 100%;
  }
  .otp-inputs {
    flex-direction: column;
  }
  .otp-input {
    margin-bottom: 10px;
  }
}

